body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    background-color: #ffffff;
    color: #ff9900;
    position: fixed;
    top: 0;
    height: 30px;
    width: 90%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.logo img {
justify-content: center;
    width: 130px;
    height: auto;
    padding-right: 20px;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #333;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 20px;

}



.crypto-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 600px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 50px 10px;
    padding: 20px;
    border: 10px solid #ffffff;
    border-radius: 150px 20px 150px 10px;
    box-shadow: 0px 20px 60px 1px #fff5e6;
}


.crypto-card img {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -75px;
    /* Move the image further up to overlap the card */
    left: 50%;
    /* Center the image horizontally */
    transform: translateX(-50%);
    /* Adjust for centering */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #ff9900;
    /* Add a border to make it stand out */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional shadow for better appearance */
    z-index: 10;
    /* Ensure the image is above the card */
}



.crypto-card .content {

    top: 70px;
    left: 20px;
padding-top: 600px;

}


.crypto-card .content h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.crypto-card .content h3 {
    text-align: center;
    border-bottom: 2px rgb(255, 136, 0) solid;
    margin-top: 30px;
    font-size: 50px;
    color: #ffffff;
    padding: 20px;
    border-radius: 150px 20px 150px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crypto-card .content h4 {
    text-align: center;
    margin-top: 12px;
    background-color: #ff9900;
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    padding: 30px;
    border-radius: 150px 20px 150px 10px;

}



.crypto-card .content p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 20px;
    font-size: 14px;
    color: #ffffff;
}



.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    margin-top: 75px;
    width: 100%;
}

.btn1 {
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    border-bottom: 2px solid #ffffff;
    border-style: solid;
    background-color: transparent;
    border-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}


.btn2 {

    color: rgb(255, 255, 255);
    padding: 15px 40px;
    border-bottom: 2px solid #ffffff;
    border-style: solid;
    background-color: transparent;
    border-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

.btn3 {
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    border-bottom: 2px solid #ffffff;
    border-style: solid;
    background-color: transparent;
    border-radius: 10px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;


}


.btn1:hover {
    transition: ease-in-out 0.3s;
    background-color: transparent;
    border-color: white;
    color: white;
    border: 5px #ffffff;
}

.btn2:hover {
    border-bottom: 2px solid #ffffff;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn3:hover {
    border-bottom: 2px solid #ffffff;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    border-color: white;
    color: white;
}

ul {
    display: flex;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);

}

ul li {
    list-style: none;
}

ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    margin: 0 10px;
    display: block;
    border-radius: 30%;
    position: relative;
    overflow: hidden;
    border: 3px solid #ff9900;


}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before {
    background: #3b5999;
}

ul li:nth-child(2) a:before {
    background: #55acee;
}

ul li:nth-child(3) a:before {
    background: #0077b5;
}

ul li:nth-child(4) a:before {
    background: #dd4b39;
}

.footer {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: 150px;
    }


    ul {
        display: flex;
        position: relative;
        top: -20%;
        left: 35%;
        margin-top: 60px;
        padding-left: 90px;
        margin-bottom: 0px;
        transform: translate(-50%, -50%);

    }


    .crypto-card {
        box-shadow: none;
        border: 2px solid #ccc;
        width: 333px;
        
    }

    .btn {
        width: -30%;
        padding: 0px;
        justify-content: space-between;
    }

    .crypto-card img {
        width: 150px;
        height: 150px;
        top: -50px;
    }

    .crypto-card .content h3 {
        font-size: 25px;
    }

    .crypto-card .content h4 {
        font-size: 13px;
    }

    .crypto-card .content p {
        font-size: 12px;
    }

    .btn1 {
        padding: 10px 20px;
        width: 100px;
    }

    .btn2 {
        padding: 10px 20px;
    }

    .btn3 {
        padding: 10px 20px;
    }

    ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        margin: 0 5px;
        border-radius: 50%;

    }

    ul li a .icon {
        font-size: 20px;
    }

    ul li a:before {
        width: 100%;
        height: 100%;
    }

    .social-001 {
        display: none;
    }

    .footer {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        background-color: transparent;
        color: #fff;
        margin-top: 150px;
        padding-bottom: 50px;
        font-size: small;
    }

    .crypto-card .content p {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .cc{
        background-color: #ff9900;
        padding: 10px;
        border-radius: 10px;
     margin-bottom:10px;
     font-weight: bold;
     
    }

    .newsletter-container p {
        padding-top: 0px;
        margin-top: 0px;
       font-size: small;
    }

    .newsletter-container h2 {
        color: #ff9900;
        background-color: #ffffff;
       padding: 10px;
       border-radius: 12px 0px;
    }

    .scroll-to-top {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: transparent;
        color: #fff;
        border-bottom: 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 8px;
        
        transition: 0.3s ease;
    }
    
    .scroll-to-top:hover {
        background-color: #e68a00;
    }

    .scroll-to-top:hover {
        background-color: transparent;

    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ff9900;
        /* backdrop-filter: blur(50px); */
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-menu ul li a {
        padding: 10px 20px;
        font-size: 18px;
    }
}

    
